* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background: rgb(196, 248, 217);
}

.App {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 30% 25%;

    .boton {
        font-size: 1.5rem;
        padding: 5px;
        cursor: pointer;
        border: 3px outset rgb(46, 46, 73);
        border-radius: 10px;
        background: rgb(202, 202, 235);
        color: rgb(11, 2, 37);
    }

    .boton:hover {
        background: rgb(153, 153, 204);
    }

    .boton:active {
        border: 3px inset rgb(46, 46, 73);
    }

    .titulo {
        background: rgb(1, 1, 17);
        grid-column-start: 1;
        grid-column-end: 5;
        height: 100px;
        display: flex;

        h1 {
            width: fit-content;
            height: fit-content;
            font-size: 3rem;
            color: white;
            margin: auto auto auto 2%;
        }
        .boton{
            margin: auto 5% auto auto;
        }
    }

    .mensajes {
        grid-column-start: 1;
        grid-column-end: 5;
        height: 90px;
        display: flex;

        p {
            margin: auto auto auto 10%;
            font-size: 3rem;
            text-decoration: underline;
        }
    }

    .interaccion {
        grid-column-start: 3;
        grid-column-end: 5;

        .entrada {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;

            label {
                margin: 1% auto 0 30%;
                color: rgb(4, 4, 61);
                font-size: 1.5rem;
            }

            #entrada {
                margin: 5px auto 0 30%;
                font-size: 1.5rem;
                outline: none;
                padding: 5px;
                border-radius: 5px;
                border: 2px inset rgb(160, 160, 240);
                background: rgb(209, 209, 250);
            }

            .boton {
                margin: 20px auto auto auto;
            }

        }

        .respuesta {
            display: flex;
            height: 50%;
            width: fit-content;
            margin: auto auto auto 0;

            .cajas {
                width: fit-content;
                height: fit-content;
                min-height: 35.6px;
                min-width: 50px;
                padding: 0px 10px;
                margin: auto 2px;
                border-radius: 10px;
                border: 2px solid rgb(3, 3, 36);
                display: flex;
                background: rgb(170, 207, 255);
                p {
                    font-size: 4rem;
                    font-weight: bold;
                    margin: -10px auto auto auto;
                    width: fit-content;
                }
                p.nel{
                    display: none;
                }
            }
        }

    }

    .contenedorImagen {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 450px;
        overflow: hidden;

        img {
            height: 100%;
            margin-left: 30%;
        }
    }
}